include README.rst
include requirements.txt
include ReleaseNotes.rst

recursive-include pyobserver *.pyx *.c *.yml

recursive-include pyobserver/data *
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

exclude *.pyc *.o 
global-exclude .DS_Store
prune docs/_build
prune build
