include README.rst

include distribute_setup.py
recursive-include pyobserver *.pyx *.c *.yml

recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

exclude *.pyc *.o 
prune docs/_build
prune build
